.form-container {
    display: block;
    margin: 5% 40%;
}

.form-container input {
    /* width: 300px; */
    /* margin-bottom: 10px; */
}

.form-name,.form-email {
    background-color: #eff5fa;
    margin-bottom: 8px;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
}

@media screen and (max-width:688px) {
    .form-container {
        margin: 0 15%;
    }
}